.venv/
venv/
env/
ENV/

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

.ipynb_checkpoints/
dumy.ipynb
tashkeel.ipynb

.idea/
.vscode/
*.swp

.DS_Store
Thumbs.db

tashkeel_transformer1.pth
Sadeed_Tashkeela/
arabic-tashkeel-dataset/
